In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
train=pd.read_csv('Trainm.csv')

In [3]:
test=pd.read_csv('Testm.csv')

In [4]:
train.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,RIGHGSN,1,1.086711e+04,8.648345e+03,1.576618e+04,2.890466e+04,5.273655e+03,2.346153e+04,1.285597e+04,2.871509e+04,...,0,1,0,1,214.0,214.0,68.0,22.0,22.0,7.0
1,RIMHI5ZGP,0,2.584312e+05,2.179633e+05,1.866287e+05,1.866287e+05,2.154519e+05,1.923615e+05,1.726538e+05,1.666974e+05,...,0,0,0,0,41.0,41.0,38.0,12.0,12.0,11.0
2,RIHOG1SZU,0,1.459355e+07,1.260060e+07,1.100315e+07,1.010315e+07,1.879882e+07,1.514035e+07,5.320778e+06,6.906324e+06,...,0,1,1,0,378.0,378.0,310.0,21.0,21.0,16.0
3,RIHOLMQWU,0,6.727043e+05,8.181116e+05,6.794893e+05,6.794893e+05,8.257254e+05,7.605803e+05,3.577134e+05,4.236612e+05,...,0,0,0,0,702.0,702.0,644.0,951.0,951.0,743.0
4,RIHO584ET,0,-1.218742e+06,-3.005361e+06,-1.666241e+05,-2.403574e+06,2.583183e+06,2.086546e+06,5.938358e+06,5.446532e+06,...,0,0,0,0,1305.0,1305.0,1211.0,2205.0,2205.0,1831.0

In [5]:
train.shape

(17521, 2395)

In [6]:
test.head()

,Col1,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,RIGD58ZWD,8.167140e+04,8.614542e+04,7.532296e+04,7.532296e+04,1.125174e+05,1.002778e+05,2.038915e+04,3.053853e+04,8.395911e+04,...,0,0,0,0,44.0,44.0,23.0,41.0,41.0,36.0
1,RIH660YDS,-1.362824e+07,-4.493043e+06,-3.777257e+06,-4.493043e+06,-4.749764e+06,-4.749764e+06,1.147556e+07,1.147556e+07,1.272055e+07,...,1,1,2,2,1234.0,1234.0,680.0,154.0,153.0,86.0
2,RIH660Q96,1.302700e+06,1.341449e+06,1.240085e+06,1.341449e+06,1.477503e+06,1.477503e+06,3.904086e+05,3.904086e+05,4.979106e+05,...,0,0,0,0,33.0,24.0,19.0,3.0,1.0,1.0
3,RIYDO15W1,1.932258e+05,1.454433e+05,1.929148e+05,1.454433e+05,1.318250e+04,1.318250e+04,8.650108e+04,8.650108e+04,5.896693e+03,...,0,0,0,0,8.0,8.0,3.0,7.0,7.0,3.0
4,RIYBGC1ZD,3.913385e+05,1.987337e+05,1.703432e+05,1.987337e+05,3.046536e+05,3.046536e+05,2.528307e+05,2.528307e+05,3.034449e+05,...,0,0,0,0,7.0,7.0,7.0,6.0,6.0,5.0

In [7]:
test.shape

(20442, 2394)

In [8]:
train.dtypes

Col1        object
Col2         int64
Col3       float64
Col4       float64
Col5       float64
            ...
Col2393    float64
Col2394    float64
Col2395    float64
Col2396    float64
Col2397    float64
Length: 2395, dtype: object

In [9]:
test.dtypes

Col1        object
Col3       float64
Col4       float64
Col5       float64
Col6       float64
            ...
Col2393    float64
Col2394    float64
Col2395    float64
Col2396    float64
Col2397    float64
Length: 2394, dtype: object

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17521 entries, 0 to 17520
Columns: 2395 entries, Col1 to Col2397
dtypes: float64(844), int64(1548), object(3)
memory usage: 320.2+ MB

In [11]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20442 entries, 0 to 20441
Columns: 2394 entries, Col1 to Col2397
dtypes: float64(837), int64(1545), object(12)
memory usage: 373.4+ MB

In [12]:
train.describe()

,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
count,17521.000000,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,...,17521.000000,17521.000000,17521.000000,17521.000000,16347.000000,16347.000000,16335.000000,16347.00000,16347.000000,16335.000000
mean,0.100508,3.158967e+04,2.046540e+04,2.502937e+04,2.789385e+04,2.597734e+04,3.302600e+04,2.912693e+04,2.971069e+04,3.617392e+04,...,0.736202,0.595343,0.773757,0.639005,55.540038,55.015416,35.180961,17.99584,17.539977,10.359657
std,0.300685,7.612897e+05,7.136908e+05,6.018207e+05,6.091245e+05,7.211998e+05,7.488433e+05,2.175595e+05,2.981508e+05,2.612427e+05,...,0.910828,0.784953,0.921805,0.806286,53.269618,52.697069,34.956016,24.83891,24.685954,18.476447
min,0.000000,-8.555719e+07,-8.555719e+07,-7.011955e+07,-7.100920e+07,-8.480658e+07,-9.016250e+07,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,0.000000,2.742337e+03,2.007863e+03,1.857013e+03,2.562647e+03,2.973188e+03,3.822170e+03,1.824148e+03,1.787456e+03,3.505288e+03,...,0.000000,0.000000,0.000000,0.000000,21.000000,21.000000,12.000000,9.00000,9.000000,5.000000
50%,0.000000,9.308060e+03,6.642857e+03,6.236503e+03,8.464355e+03,1.036962e+04,1.303534e+04,5.705458e+03,5.536147e+03,8.832639e+03,...,0.000000,0.000000,0.000000,0.000000,42.000000,42.000000,27.000000,13.00000,13.000000,7.000000
75%,0.000000,3.053873e+04,2.156093e+04,2.068154e+04,2.773849e+04,2.645998e+04,3.359204e+04,1.852222e+04,1.753976e+04,2.341911e+04,...,1.000000,1.000000,1.000000,1.000000,74.000000,73.000000,47.000000,21.00000,21.000000,12.000000
max,1.000000,1.459355e+07,1.288980e+07,1.478068e+07,1.178075e+07,1.879882e+07,1.514035e+07,1.125630e+07,2.788633e+07,1.314762e+07,...,4.000000,4.000000,4.000000,4.000000,1305.000000,1305.000000,1211.000000,2205.00000,2205.000000,1831.000000

In [13]:
test.describe()

,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
count,2.044200e+04,2.044200e+04,2.044200e+04,2.044200e+04,2.044200e+04,2.044200e+04,2.044200e+04,2.044200e+04,2.044200e+04,2.044200e+04,...,20442.000000,20442.000000,20442.000000,20442.000000,19183.000000,19183.000000,19164.000000,19183.000000,19183.000000,19164.000000
mean,3.749822e+04,2.360107e+04,3.099296e+04,3.153122e+04,2.728287e+04,3.625497e+04,3.282116e+04,3.295643e+04,3.903867e+04,3.901378e+04,...,0.634674,0.558262,0.670238,0.589864,49.688474,49.131366,31.288614,17.008341,16.527238,9.726936
std,8.090349e+05,6.659282e+05,6.434903e+05,6.422364e+05,6.588844e+05,6.710696e+05,3.642904e+05,3.831866e+05,4.169885e+05,4.400329e+05,...,0.853880,0.784091,0.867530,0.796850,62.765442,61.032971,38.698616,29.464562,29.155274,17.616897
min,-6.766640e+07,-6.416449e+07,-2.951962e+07,-5.160258e+07,-6.282747e+07,-5.448213e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
25%,3.037609e+03,2.255115e+03,2.081114e+03,2.788630e+03,3.028607e+03,3.903768e+03,1.966539e+03,1.908582e+03,3.270135e+03,2.960897e+03,...,0.000000,0.000000,0.000000,0.000000,16.000000,16.000000,10.000000,8.000000,8.000000,4.000000
50%,1.076447e+04,7.793441e+03,7.511782e+03,1.022429e+04,1.075722e+04,1.369641e+04,6.529336e+03,6.173574e+03,8.926603e+03,8.363056e+03,...,0.000000,0.000000,0.000000,0.000000,35.000000,35.000000,22.000000,12.000000,12.000000,7.000000
75%,3.444611e+04,2.380610e+04,2.329657e+04,3.127464e+04,2.776564e+04,3.611465e+04,2.015090e+04,1.929168e+04,2.482480e+04,2.306036e+04,...,1.000000,1.000000,1.000000,1.000000,65.000000,64.000000,42.000000,20.000000,19.000000,12.000000
max,3.861868e+07,3.024852e+07,6.325956e+07,2.766654e+07,2.193012e+07,2.229041e+07,3.463760e+07,3.277868e+07,4.255362e+07,3.969719e+07,...,4.000000,4.000000,4.000000,4.000000,3598.000000,3597.000000,1946.000000,3104.000000,3104.000000,1745.000000

In [14]:
train.isnull().sum().tail(26)

Col2372       0
Col2373       0
Col2374       0
Col2375       0
Col2376       0
Col2377       0
Col2378       0
Col2379       0
Col2380       0
Col2381       0
Col2382       0
Col2383       0
Col2384       0
Col2385       0
Col2386       0
Col2387       0
Col2388       0
Col2389       0
Col2390       0
Col2391       0
Col2392    1174
Col2393    1174
Col2394    1186
Col2395    1174
Col2396    1174
Col2397    1186
dtype: int64

In [15]:
test.isnull().sum().tail(26)

Col2372       0
Col2373       0
Col2374       0
Col2375       0
Col2376       0
Col2377       0
Col2378       0
Col2379       0
Col2380       0
Col2381       0
Col2382       0
Col2383       0
Col2384       0
Col2385       0
Col2386       0
Col2387       0
Col2388       0
Col2389       0
Col2390       0
Col2391       0
Col2392    1259
Col2393    1259
Col2394    1278
Col2395    1259
Col2396    1259
Col2397    1278
dtype: int64

In [16]:
train.drop(['Col2392','Col2393','Col2394','Col2395','Col2396','Col2397'],axis=1,inplace=True)

In [17]:
test.drop(['Col2392','Col2393','Col2394','Col2395','Col2396','Col2397'],axis=1,inplace=True)

In [18]:
train.fillna(value=0,inplace=True)
test.fillna(value=0,inplace=True)

In [19]:
train.isnull().sum().tail(26)

Col2366    0
Col2367    0
Col2368    0
Col2369    0
Col2370    0
Col2371    0
Col2372    0
Col2373    0
Col2374    0
Col2375    0
Col2376    0
Col2377    0
Col2378    0
Col2379    0
Col2380    0
Col2381    0
Col2382    0
Col2383    0
Col2384    0
Col2385    0
Col2386    0
Col2387    0
Col2388    0
Col2389    0
Col2390    0
Col2391    0
dtype: int64

In [20]:
train.describe(include='all')

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col2382,Col2383,Col2384,Col2385,Col2386,Col2387,Col2388,Col2389,Col2390,Col2391
count,17521,17521.000000,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,...,17521.000000,17521.000000,17521.000000,17521.000000,17521.000000,17521.000000,17521.000000,17521.000000,17521.000000,17521.000000
unique,17521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,RIGHGSN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,0.100508,3.158967e+04,2.046540e+04,2.502937e+04,2.789385e+04,2.597734e+04,3.302600e+04,2.912693e+04,2.971069e+04,...,0.048684,0.028823,0.243023,0.198105,0.086468,0.059586,0.736202,0.595343,0.773757,0.639005
std,NaN,0.300685,7.612897e+05,7.136908e+05,6.018207e+05,6.091245e+05,7.211998e+05,7.488433e+05,2.175595e+05,2.981508e+05,...,0.295270,0.195036,0.609345,0.511142,0.314962,0.251910,0.910828,0.784953,0.921805,0.806286
min,NaN,0.000000,-8.555719e+07,-8.555719e+07,-7.011955e+07,-7.100920e+07,-8.480658e+07,-9.016250e+07,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,0.000000,2.742337e+03,2.007863e+03,1.857013e+03,2.562647e+03,2.973188e+03,3.822170e+03,1.824148e+03,1.787456e+03,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,0.000000,9.308060e+03,6.642857e+03,6.236503e+03,8.464355e+03,1.036962e+04,1.303534e+04,5.705458e+03,5.536147e+03,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,0.000000,3.053873e+04,2.156093e+04,2.068154e+04,2.773849e+04,2.645998e+04,3.359204e+04,1.852222e+04,1.753976e+04,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,NaN,1.000000,1.459355e+07,1.288980e+07,1.478068e+07,1.178075e+07,1.879882e+07,1.514035e+07,1.125630e+07,2.788633e+07,...,4.000000,3.000000,4.000000,4.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000

In [21]:
test.describe(include='all')

,Col1,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2382,Col2383,Col2384,Col2385,Col2386,Col2387,Col2388,Col2389,Col2390,Col2391
count,20442,2.044200e+04,2.044200e+04,2.044200e+04,2.044200e+04,2.044200e+04,2.044200e+04,2.044200e+04,2.044200e+04,2.044200e+04,...,20442.000000,20442.000000,20442.000000,20442.000000,20442.000000,20442.000000,20442.000000,20442.000000,20442.000000,20442.000000
unique,20442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,RIGD58ZWD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,3.749822e+04,2.360107e+04,3.099296e+04,3.153122e+04,2.728287e+04,3.625497e+04,3.282116e+04,3.295643e+04,3.903867e+04,...,0.037325,0.024215,0.205851,0.164955,0.062567,0.046913,0.634674,0.558262,0.670238,0.589864
std,NaN,8.090349e+05,6.659282e+05,6.434903e+05,6.422364e+05,6.588844e+05,6.710696e+05,3.642904e+05,3.831866e+05,4.169885e+05,...,0.244755,0.186766,0.559453,0.466990,0.271160,0.227721,0.853880,0.784091,0.867530,0.796850
min,NaN,-6.766640e+07,-6.416449e+07,-2.951962e+07,-5.160258e+07,-6.282747e+07,-5.448213e+07,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,3.037609e+03,2.255115e+03,2.081114e+03,2.788630e+03,3.028607e+03,3.903768e+03,1.966539e+03,1.908582e+03,3.270135e+03,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,1.076447e+04,7.793441e+03,7.511782e+03,1.022429e+04,1.075722e+04,1.369641e+04,6.529336e+03,6.173574e+03,8.926603e+03,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,3.444611e+04,2.380610e+04,2.329657e+04,3.127464e+04,2.776564e+04,3.611465e+04,2.015090e+04,1.929168e+04,2.482480e+04,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,NaN,3.861868e+07,3.024852e+07,6.325956e+07,2.766654e+07,2.193012e+07,2.229041e+07,3.463760e+07,3.277868e+07,4.255362e+07,...,4.000000,3.000000,4.000000,4.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000

In [22]:
train.sample(5)

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col2382,Col2383,Col2384,Col2385,Col2386,Col2387,Col2388,Col2389,Col2390,Col2391
5524,O9VIU8SR,0,116739.393300,40418.16333,36376.347000,60627.245000,33229.81222,49844.718330,57120.839550,60571.457740,...,0,0,0,0,0,0,0,1,0,1
3406,7NEHC11D,0,5549.490000,3093.76600,2812.514545,5156.276667,2666.60000,4444.333333,2759.498960,1433.930658,...,0,0,0,0,0,0,1,2,1,2
6193,O9WWLS5J,0,2130.820000,1482.90700,1348.097273,2411.828333,1715.79100,1009.485000,1923.223542,1997.825881,...,0,0,0,0,0,0,0,0,0,0
11880,O7MIL84G,0,184107.060000,119789.96170,102677.110000,119789.961700,161632.32830,161632.328300,71465.615920,71465.615920,...,0,0,1,1,0,0,1,2,1,2
11293,O75B65Q5,0,3328.536667,11023.19000,9448.448571,11023.190000,13673.47667,13673.476670,11398.692720,11398.692720,...,0,0,0,0,0,0,1,3,1,2

In [23]:
test.sample(5)

,Col1,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2382,Col2383,Col2384,Col2385,Col2386,Col2387,Col2388,Col2389,Col2390,Col2391
6528,7DMBUSSZ,9124.413333,2905.520000,2905.520000,5811.040000,2718.228333,5436.456667,4154.552080,4199.541777,3781.281519,...,0,0,0,0,0,0,0,0,0,0
7270,72HK6Y4W,3592.110000,973.083333,973.083333,1946.166667,710.100000,1420.200000,1993.924548,2461.228813,1237.856883,...,0,0,0,0,0,0,0,0,0,0
16169,O1G6U5SW,3932.410000,3464.413333,2969.497143,3464.413333,6228.323333,6228.323333,2216.431685,2216.431685,4954.325872,...,0,0,0,0,0,0,1,2,1,2
15391,O10OO8X9,6073.563333,4439.116000,3699.263333,3699.263333,10724.250000,8936.875000,2451.351962,2783.352607,2967.902125,...,0,0,0,0,0,0,1,0,1,0
2471,O7E6L5ZG,12371.370000,19478.610000,17314.320000,23777.690000,22041.662500,20881.383330,14098.410640,13290.830220,19329.723680,...,0,0,0,0,0,0,0,0,0,0

In [24]:
id=test['Col1']
test.drop(['Col1'],axis=1,inplace=True)

In [25]:
# Seprating the feature and target variable
x=train.drop(columns=['Col2','Col1'],axis=1)
y=train['Col2']

In [26]:
x.replace(np.nan,0)
y.replace(np.nan,0)

0        1
1        0
2        0
3        0
4        0
        ..
17516    0
17517    0
17518    0
17519    0
17520    0
Name: Col2, Length: 17521, dtype: int64

# Spliting the data into training and test dataset

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=5)
print(x.shape,x_train.shape,x_test.shape)

(17521, 2387) (14016, 2387) (3505, 2387)

In [29]:
x_train.iloc[:,12:]

,Col15,Col16,Col17,Col18,Col19,Col20,Col21,Col22,Col23,Col24,...,Col2382,Col2383,Col2384,Col2385,Col2386,Col2387,Col2388,Col2389,Col2390,Col2391
1163,9.325710,7.988008,1.000000,0.695007,0.000000,9.268724,1.200345,1.150364,0.502945,0.596661,...,0,0,0,0,1,1,1,1,1,1
13532,11.522133,11.074155,1.120038,1.227715,54.166804,2.734799,0.313715,0.270694,0.313715,0.270694,...,0,0,0,0,0,0,3,2,3,2
16442,8.860584,7.601354,1.250000,7.564826,0.000000,0.000000,0.610971,0.616922,0.847020,0.852395,...,0,0,0,0,0,0,1,1,1,1
2654,8.078444,8.187941,1.000000,0.201350,7.063310,2.745483,1.290001,1.487908,0.821937,1.097660,...,0,0,0,0,0,0,2,1,2,1
13565,9.953125,9.364507,1.166667,1.730743,0.000000,0.000000,0.478700,0.148277,0.478700,0.148277,...,0,0,0,0,0,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,8.083836,8.856088,1.000000,0.084622,0.000000,1.944986,1.852802,1.377627,1.118110,0.857768,...,0,0,0,1,2,1,1,1,1,1
1032,10.438679,10.447086,1.000000,8.933786,0.000000,0.000000,1.715443,1.903120,0.985577,1.144955,...,0,0,0,0,0,0,1,1,1,1
5520,12.922859,12.704966,1.089820,8.415544,0.000000,0.000000,1.444159,1.320994,0.922683,0.804364,...,0,0,0,1,0,0,2,1,2,1
3046,7.491738,7.828730,1.000000,4.896238,0.000000,0.000000,1.924287,2.453674,1.162510,1.584376,...,0,0,0,0,0,0,0,0,0,0
2915,9.351105,8.657486,1.000000,1.465534,0.000000,7.600050,1.038569,0.901676,0.239085,0.238477,...,0,0,0,0,0,0,2,1,2,1

In [30]:
x_test.head()

,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,...,Col2382,Col2383,Col2384,Col2385,Col2386,Col2387,Col2388,Col2389,Col2390,Col2391
15831,23466.036670,21546.620000,19706.242000,19706.242000,23704.9175,23588.266000,5515.579100,6158.779579,6317.281850,5655.179247,...,0,0,1,1,0,0,1,2,1,2
7722,3387.290000,2054.343750,2275.306667,2739.125000,740.3750,987.166667,1627.103299,1286.114793,1176.561013,1265.733922,...,0,0,0,0,0,0,1,0,1,0
7618,27320.313330,37029.403750,33097.821110,49372.538330,36115.6250,48154.166670,29412.420330,23323.589400,30642.004040,25925.937510,...,0,0,0,0,0,0,1,0,1,0
16960,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
1245,4078.853333,1758.041667,1758.041667,3516.083333,5221.4275,10442.855000,2151.892519,1754.915762,6400.020369,5233.807644,...,0,0,0,0,0,0,2,2,2,2

In [31]:
x_train.fillna(0)
y_train.fillna(0)

x_test.fillna(0)
y_test.fillna(0)

15831    0
7722     0
7618     0
16960    0
1245     0
        ..
10137    0
6251     0
1644     0
1622     1
8371     0
Name: Col2, Length: 3505, dtype: int64

In [39]:
x_train.dtypes

Col3       float64
Col4       float64
Col5       float64
Col6       float64
Col7       float64
            ...
Col2387      int64
Col2388      int64
Col2389      int64
Col2390      int64
Col2391      int64
Length: 2387, dtype: object

In [37]:
y_train.dtypes

dtype('int64')

# Model Training And Evaluation Using Different Regression Model

In [32]:
# Importing some required library
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import LinearSVC

In [33]:
# Logistic Regression
logreg = LogisticRegression()
logreg.fit(x_train,y_train)
y_pred = logreg.predict(x_test)
#acc_logreg = round(accuracy_score(y_pred, y_test) * 100, 2)
#print(acc_logreg)

ValueError: could not convert string to float: '-'