<a href="https://colab.research.google.com/github/pramanand-coder/Machine-Learning/blob/main/chance_of_admission_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing some Required Library

In [1]:
import pandas as pd
import time

Loading the dataset

In [2]:
data=pd.read_csv("https://github.com/ybifoundation/Dataset/raw/main/Admission%20Chance.csv")

Analysing the dataset

In [3]:
data.head()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
data.columns

Index(['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [5]:
data.describe()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No          400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4    SOP               400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [7]:
data.isnull().sum()

Serial No            0
GRE Score            0
TOEFL Score          0
University Rating    0
 SOP                 0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Segregating the dataset into dependent and Independent variable

In [8]:
y=data['Chance of Admit ']
x=data.drop(['Serial No',"Chance of Admit "],axis=1)

In [9]:
print(x.shape)
print(x.head())

(400, 7)
   GRE Score  TOEFL Score  University Rating   SOP  LOR   CGPA  Research
0        337          118                  4   4.5   4.5  9.65         1
1        324          107                  4   4.0   4.5  8.87         1
2        316          104                  3   3.0   3.5  8.00         1
3        322          110                  3   3.5   2.5  8.67         1
4        314          103                  2   2.0   3.0  8.21         0

In [10]:
print(y.shape)
print(y.head())

(400,)
0    0.92
1    0.76
2    0.72
3    0.80
4    0.65
Name: Chance of Admit , dtype: float64

Spliting the dataset into training and test

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=25,random_state=True)

In [12]:
print(x_train.shape, x_test.shape ,y_train.shape,y_test.shape)

(375, 7) (25, 7) (375,) (25,)

Comparing the Accuracy score of the different regression algorithm

In [13]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
start_time=time.time()
model.fit(x_train,y_train)
stop_time=time.time()
diff=stop_time-start_time
print("Total time taken to train the model=",diff)

Total time taken to train the model= 0.003564596176147461

In [14]:
model.coef_

array([ 0.00154803,  0.00299802,  0.00629449, -0.00474921,  0.02303338,
        0.12028181,  0.02521711])

In [15]:
model.intercept_

-1.219172357035748

To predict our test data

In [16]:
y_pred=model.predict(x_test)
print(y_pred)

[0.72307736 0.69038069 0.78505337 0.77701804 0.85381279 0.64026836
 0.634004   0.54918373 0.4871093  0.93515678 0.81298432 0.93599747
 0.87976977 0.64441718 0.72505037 0.6846652  0.81774756 0.86429942
 0.50040577 0.69126051 0.65969984 0.77740804 0.8339065  0.92123831
 0.64889693]

Checking the performance

In [17]:
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error,mean_squared_error
print("mean absolute error=",mean_absolute_error(y_pred,y_test))

mean absolute error= 0.038672475857265784

In [18]:
print("Mean_squared_error=",mean_squared_error(y_pred,y_test))

Mean_squared_error= 0.0022485534206966003

In [19]:
print("mean absolute percentage error=",mean_absolute_percentage_error(y_pred,y_test))

mean absolute percentage error= 0.05599306205386381