<a href="https://colab.research.google.com/github/pramanand-coder/Machine-Learning/blob/main/Fish_weight_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing some Required Library

In [1]:
import pandas as pd
import time

Loading the dataset

In [2]:
data=pd.read_csv("https://github.com/ybifoundation/Dataset/raw/main/Fish.csv")

Analysing the dataset

In [3]:
data.head()

   Category Species  Weight   Height   Width  Length1  Length2  Length3
0         1   Bream   242.0  11.5200  4.0200     23.2     25.4     30.0
1         1   Bream   290.0  12.4800  4.3056     24.0     26.3     31.2
2         1   Bream   340.0  12.3778  4.6961     23.9     26.5     31.1
3         1   Bream   363.0  12.7300  4.4555     26.3     29.0     33.5
4         1   Bream   430.0  12.4440  5.1340     26.5     29.0     34.0

In [4]:
data.columns

Index(['Category', 'Species', 'Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3'],
      dtype='object')

In [5]:
data.describe()

,Category,Weight,Height,Width,Length1,Length2,Length3
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,3.264151,398.326415,8.970994,4.417486,26.247170,28.415723,31.227044
std,1.704249,357.978317,4.286208,1.685804,9.996441,10.716328,11.610246
min,1.000000,0.000000,1.728400,1.047600,7.500000,8.400000,8.800000
25%,2.000000,120.000000,5.944800,3.385650,19.050000,21.000000,23.150000
50%,3.000000,273.000000,7.786000,4.248500,25.200000,27.300000,29.400000
75%,4.500000,650.000000,12.365900,5.584500,32.700000,35.500000,39.650000
max,7.000000,1650.000000,18.957000,8.142000,59.000000,63.400000,68.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  159 non-null    int64
 1   Species   159 non-null    object
 2   Weight    159 non-null    float64
 3   Height    159 non-null    float64
 4   Width     159 non-null    float64
 5   Length1   159 non-null    float64
 6   Length2   159 non-null    float64
 7   Length3   159 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 10.1+ KB

In [7]:
data.isnull().sum()

Category    0
Species     0
Weight      0
Height      0
Width       0
Length1     0
Length2     0
Length3     0
dtype: int64

converting the categorical values into numeric values

In [8]:
data.replace({'Species':{'Perch':0,'Bream':1,'Roach':2,'Pike':3,'Smelt':4,'Parkki':5,'Whitefish':6}},inplace=True)
data['Species'].value_counts()

0    56
1    35
2    20
3    17
4    14
5    11
6     6
Name: Species, dtype: int64

Segregating the dataset into dependent and Independent variable

In [9]:
y=data['Weight']
x=data.drop(['Weight'],axis=1)

In [10]:
print(x.shape)
print(x.head())

(159, 7)
   Category  Species   Height   Width  Length1  Length2  Length3
0         1        1  11.5200  4.0200     23.2     25.4     30.0
1         1        1  12.4800  4.3056     24.0     26.3     31.2
2         1        1  12.3778  4.6961     23.9     26.5     31.1
3         1        1  12.7300  4.4555     26.3     29.0     33.5
4         1        1  12.4440  5.1340     26.5     29.0     34.0

In [11]:
data['Species'].value_counts()

0    56
1    35
2    20
3    17
4    14
5    11
6     6
Name: Species, dtype: int64

In [12]:
print(y.shape)
print(y.head)

(159,)
<bound method NDFrame.head of 0      242.0
1      290.0
2      340.0
3      363.0
4      430.0
       ...
154     12.2
155     13.4
156     12.2
157     19.7
158     19.9
Name: Weight, Length: 159, dtype: float64>

Spliting the dataset into training and test

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=25,random_state=True)

In [14]:
print(x_train.shape, x_test.shape ,y_train.shape,y_test.shape)

(134, 7) (25, 7) (134,) (25,)

Comparing the Accuracy score of the different regression algorithm

In [15]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
start_time=time.time()
model.fit(x_train,y_train)
stop_time=time.time()
diff=stop_time-start_time
print("Total time taken to train the model=",diff)

Total time taken to train the model= 0.0036916732788085938

In [16]:
model.coef_

array([ 40.47521377,  -7.09219317,  50.96667103, -10.58497174,
        38.73785428,  39.04624581, -50.48548377])

In [17]:
model.intercept_

-678.8422080020525

To predict our test data

In [18]:
y_pred=model.predict(x_test)
print(y_pred)

[ 842.57103167  161.09977849  572.29681149  163.69925428   98.01321876
  586.73022704  236.25007568  530.67634918  189.29051196  228.9713017
  152.06622507  144.83613971 -121.74749211  364.11318468  819.3028499
  129.12553681  139.9224695   549.62658706  433.17639823  278.92147328
 -120.40644724  -70.88271424  318.81874406  441.65517731  113.95783281]

Checking the performance

In [19]:
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error,mean_squared_error
print("mean absolute error=",mean_absolute_error(y_pred,y_test))

mean absolute error= 72.56073812731641

In [20]:
print("Mean_squared_error=",mean_squared_error(y_pred,y_test))

Mean_squared_error= 8645.051159506365

In [21]:
print("mean absolute percentage error=",mean_absolute_percentage_error(y_pred,y_test))

mean absolute percentage error= 0.34745147895897605

In [23]:
from sklearn.metrics import r2_score
print("r2_score=",r2_score(y_pred,y_test)*100)

r2_score= 86.51072878843836