<a href="https://colab.research.google.com/github/pramanand-coder/Machine-Learning/blob/main/Purchase_Prediction_And_Micronumerosity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Loading the dataset

In [2]:
dataset=pd.read_csv("https://github.com/YBIFoundation/Dataset/raw/main/Customer%20Purchase.csv")

Analysing the dataset

In [3]:
dataset.head()

   Customer ID  Age  Gender Education   Review Purchased
0         1021   30  Female    School  Average        No
1         1022   68  Female        UG     Poor        No
2         1023   70  Female        PG     Good        No
3         1024   72  Female        PG     Good        No
4         1025   16  Female        UG  Average        No

In [4]:
dataset['Gender'].value_counts()

Female    29
Male      21
Name: Gender, dtype: int64

In [5]:
dataset['Education'].value_counts()

PG        18
School    16
UG        16
Name: Education, dtype: int64

In [6]:
print(dataset['Review'].value_counts())
dataset['Purchased'].value_counts()

Poor       18
Good       18
Average    14
Name: Review, dtype: int64

No     26
Yes    24
Name: Purchased, dtype: int64

Converting the categorical values into numrical

In [7]:
dataset.replace({'Gender':{'Male':0,'Female':1}},inplace=True)
dataset.replace({'Education':{'PG':0,'School':1,"UG":2}},inplace=True)
dataset.replace({'Review':{'Poor':0,'Average':1,'Good':2}},inplace=True)

In [8]:
print(dataset.head())

   Customer ID  Age  Gender  Education  Review Purchased
0         1021   30       1          1       1        No
1         1022   68       1          2       0        No
2         1023   70       1          0       2        No
3         1024   72       1          0       2        No
4         1025   16       1          2       1        No

Removing the customer id

In [9]:
dataset=dataset.drop(['Customer ID'],axis=1)

In [10]:
dataset.describe()

             Age     Gender  Education     Review
count  50.000000  50.000000  50.000000  50.000000
mean   54.160000   0.580000   0.960000   1.000000
std    25.658161   0.498569   0.832013   0.857143
min    15.000000   0.000000   0.000000   0.000000
25%    30.250000   0.000000   0.000000   0.000000
50%    57.000000   1.000000   1.000000   1.000000
75%    74.000000   1.000000   2.000000   2.000000
max    98.000000   1.000000   2.000000   2.000000

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        50 non-null     int64
 1   Gender     50 non-null     int64
 2   Education  50 non-null     int64
 3   Review     50 non-null     int64
 4   Purchased  50 non-null     object
dtypes: int64(4), object(1)
memory usage: 2.1+ KB

Segregating the dataset into dependent and independent variable

In [12]:
y=dataset['Purchased']
x=dataset.drop(['Purchased'],axis=1)

In [13]:
print(y.shape)
print(y.head())

(50,)
0    No
1    No
2    No
3    No
4    No
Name: Purchased, dtype: object

In [14]:
print(x.shape)
print(x.head())

(50, 4)
   Age  Gender  Education  Review
0   30       1          1       1
1   68       1          2       0
2   70       1          0       2
3   72       1          0       2
4   16       1          2       1

Spliting the dataset into dependent and independent variable

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=True)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(37, 4) (13, 4) (37,) (13,)

Training our model

In [16]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(x_train,y_train)

RandomForestClassifier()

Predicting the test data

In [17]:
y_pred=model.predict(x_test)

In [18]:
print(y_pred)

['Yes' 'No' 'No' 'No' 'Yes' 'Yes' 'Yes' 'No' 'Yes' 'Yes' 'No' 'Yes' 'Yes']

In [19]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
print("Confusion matrix=",confusion_matrix(y_pred,y_test))

Confusion matrix= [[2 3]
 [6 2]]

In [20]:
print("Accuracy_score=",accuracy_score(y_pred,y_test)*100)
print("Classification Report=",classification_report(y_pred,y_test))

Accuracy_score= 30.76923076923077
Classification Report=               precision    recall  f1-score   support

          No       0.25      0.40      0.31         5
         Yes       0.40      0.25      0.31         8

    accuracy                           0.31        13
   macro avg       0.33      0.33      0.31        13
weighted avg       0.34      0.31      0.31        13